/*** START FOOTER STYLE ***/

.widget_section
{
    background-color: #222227;
    padding: 100px 0;
}

.widget_social 
{
    display: block;
    text-align: left;
    padding:0px;
    margin-top:30px;
}

.widget_social li 
{
    display: inline-block;
}

.widget_social li a 
{
    color: #777;
    font-size: 12px;
    margin-right: 20px;
    transition-duration: 0.5s;
}

.widget_social li a:hover
{
    color:#04DBC0;
}

.footer_widget p 
{
    color: #999;
}

.footer_widget h3 
{
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0px;
    margin-bottom:25px;
}

.subscribe_form 
{
    display: block;
    text-align: center;
    padding: 5px 0;
}

.subscribe_form .form_input 
{
    display: block;
    color: #fff;
    border: none;
    font-size: 14px;
    line-height: 50px;
    padding: 0 10px;
    float: left;
    width: 100%;
    margin-bottom: 10px;
    transition: all 0.5s ease-in-out;
}

.opening_time li 
{
    color: #999;
    line-height: 35px;
}

.subscribe_form .submit 
{
    background-color: #04DBC0;
    color: #fff;
    font-family: "Work Sans", sans-serif;
    font-size: 15px;
    font-weight: 100;
    line-height: 50px;
    display: inline-block;
    padding: 0 10px;
    width: 100%;
    cursor: pointer;
    border: none;
    transition: all 0.5s ease-in-out;
}

.subscribe_form .submit:hover 
{
    background-color: #fab700;
    transition: all 0.5s ease-in-out;
}

.footer_section 
{
    display: block;
    background-color: #222227;
    border-top: 1px solid #333;
    padding: 15px 0;
}

.footer_section .copyright 
{
    font-size: 14px;
    color: #ddd;
}

.footer_link
{
    display: block;
    text-align: right;
    margin:0px;
    padding: 0px;
}

.footer_link li 
{
    display: inline-block;
}

.footer_link li a 
{
    font-family: "Work Sans",sans-serif;
    color: #ddd;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 20px;
}

.footer_widget ul.contact_info
{
    padding:0px;
    margin:0px;
    list-style:none;
    color:#999;
}
.footer_widget ul.contact_info li
{
    padding:0.5rem 0;
}

.footer_widget ul.contact_info li i
{
    margin-right:15px;
}

/*** END FOOTER STYLE ***/